/*
 * Standard CSS setup for application modals
 */

#appModal-button-voteHY {
  width: 60%;
}

#appModal-button-voteOther {
  width: 37%;
  margin-right: 12px;
}

#appModal-vote-amount {
  height: 57px;
  margin-top: 14px;
  font-size: 28px;
  font-size: 1.75rem;
  padding-right: 140px;
  background-position-x: 12px;
  background: linear-gradient(to right, #333, #333, rgba(1,1,1,0), rgba(1,1,1,0));
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(125,125,125,0.1);
}

#appModal-field-elements {
  position: relative;
  z-index: 99999;
  float: right;
  margin: -55px 12px 0 0;
}

#appModal-field-votes {
  display: inline-block;
  color: #7A7A7A;
  font-weight: 600;
  background: transparent;
  background-clip: border-box;
  margin: 1px 6px 0 0;
  font-size: 16px;
  font-size: 1rem;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
}

#appModal-votingoptions {
  display: none;
}
