          <script>
            var id = "404"
            initNavigation(id)
          </script>

          <h1>Page not found!</h1>

          <h2 class="small">Sorry, but the page you were looking for could not be found.</h2>

          <p>You can <a href="./introduction">return to our front page</a>, or reach out to us on one of our social channels if you can't find what you're looking for.</p>

          <br/>
          <div class="socials">
                <div class="social-icons">
                  <a class="link social-link" href="https://gitlab.com/hybrix-public" target="_BLANK" title="Gitlab">
                    <img src="./gitlab.svg" alt="gitlab icon" />
                  </a>
                  <a class="link social-link" href="https://twitter.com/hybrix_io" target="_BLANK" title="Twitter">
                    <img src="./twitter.svg" alt="twitter icon" />
                  </a>
                </div>
              </div>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
