          <script>
            var id = "block-explorer"
            initNavigation(id)
          </script>

          <h1>Block explorer</h1>

          <p>The easiest way to find all your transactions, all major blockchains supported. The project is fully open-source and built on top of the hybrix API.</p>

          <p><a href="https://explorer.hybrix.io" class="read-more" target="_blank">Go to the online block explorer<img src="./icon-arrow-right.svg" alt=">" /></a></p>

          <!--<h2><a id="add"></a>Adding token support</h2>
          <p>Missing your favourite token? Checkout <a href="https://api.hybrix.io/add-token" target="_blank">this easy form</a> to add a new token with just a few clicks.</p>-->

          <h2><a id="contribute"></a>Superheroes wanted!</h2>
          Help us in our mission to unite the cryptosphere with your feedback. The explorer is in an experimental stage and we can use your opinion.

          <p><a href="https://gitlab.com/hybrix-public" class="read-more" target="_blank">Contribute now<img src="./icon-arrow-right.svg" alt=">" /></a></p>

