          <br/><br/><hr>
          <div class="footer">
            <div class="wrapper padding">
              <div class="social-icons">
                <a class="social-link" href="https://gitlab.com/hybrix-public" target="_BLANK" title="Gitlab">
                  <svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g transform="translate(-1.000000, 0.000000)" fill="#000000">
                              <path d="M 6.4394099,18.556353 C 3.38252,16.3369 0.83624776,14.478718 0.78102815,14.427058 0.62048343,14.276855 0.52276752,14.037467 0.52656218,13.803617 0.52913787,13.638211 0.89949696,12.461308 2.4670494,7.635471 4.5877547,1.1067101 4.4469326,1.4874108 4.7565712,1.4458795 c 0.1808773,-0.02426 0.3436581,0.060716 0.4277449,0.2232916 0.046086,0.089109 2.5727373,7.8335561 2.5727373,7.8857112 0,0.00774 1.9063333,0.00995 4.2362946,0.00477 l 4.236296,-0.00921 1.126022,-3.4651693 c 0.619313,-1.9058753 1.193089,-3.6760117 1.275058,-3.9336683 0.09658,-0.3036048 0.18308,-0.5065703 0.245784,-0.5767407 0.187821,-0.21019 0.553682,-0.1663595 0.681957,0.081698 0.08785,0.1699062 3.883567,11.884156 3.907946,12.060646 0.033,0.238801 -0.04873,0.465791 -0.240433,0.66784 -0.09211,0.09708 -2.637769,1.968617 -5.657024,4.158967 -3.019257,2.190355 -5.508009,3.997137 -5.53056,4.015071 -0.02706,0.02153 -1.931425,-1.339931 -5.5989841,-4.002758 z" />
                          </g>
                      </g>
                  </svg>
                </a>
                <a class="social-link" href="https://twitter.com/hybrix_io" target="_BLANK" title="Twitter">
                    <svg width="26px" height="21px" viewBox="0 0 26 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="twitter" transform="translate(-1.000000, -1.000000)" fill="#000000" fill-rule="nonzero">
                                <path d="M26.4195266,1.25714286 C26.0973373,1.04761905 25.560355,1.04761905 25.2381657,1.25714286 C24.4863905,1.78095238 23.6272189,2.2 22.7680473,2.51428571 C20.6201183,0.628571429 17.2908284,0.523809524 15.035503,2.40952381 C13.6393491,3.56190476 12.887574,5.13333333 12.887574,6.80952381 C9.77307692,6.6 6.98076923,5.02857143 5.15502959,2.51428571 C4.94023669,2.2 4.61804734,2.0952381 4.18846154,2.0952381 C3.75887574,2.0952381 3.43668639,2.40952381 3.32928994,2.72380952 C3.22189349,2.82857143 2.14792899,5.34285714 2.25532544,8.38095238 C2.36272189,11 3.43668639,14.352381 7.41035503,16.7619048 C5.79940828,17.4952381 3.97366864,17.8095238 2.14792899,17.8095238 C1.7183432,17.8095238 1.18136095,18.1238095 1.0739645,18.5428571 C0.966568047,18.9619048 1.18136095,19.4857143 1.61094675,19.6952381 C4.29585799,21.1619048 7.19556213,21.8952381 9.88047337,21.8952381 C12.5653846,21.8952381 15.1428994,21.2666667 17.5056213,19.9047619 C22.1236686,17.3904762 24.7011834,12.5714286 24.7011834,6.80952381 C24.7011834,6.6 24.7011834,6.4952381 24.7011834,6.28571429 C25.7751479,5.13333333 26.5269231,3.77142857 26.8491124,2.3047619 C26.9565089,1.88571429 26.741716,1.46666667 26.4195266,1.25714286 Z M22.7680473,5.23809524 C22.5532544,5.44761905 22.445858,5.86666667 22.445858,6.18095238 C22.5532544,6.39047619 22.5532544,6.6 22.5532544,6.80952381 C22.5532544,11.8380952 20.297929,15.9238095 16.4316568,18.1238095 C13.4245562,19.8 9.88047337,20.2190476 6.33639053,19.3809524 C7.73254438,18.9619048 9.02130178,18.4380952 10.2026627,17.6 C10.6322485,17.3904762 10.739645,17.0761905 10.739645,16.6571429 C10.739645,16.2380952 10.4174556,15.9238095 10.0952663,15.8190476 C3.86627219,13.0952381 4.08106509,7.96190476 4.72544379,5.34285714 C7.08816568,7.64761905 10.4174556,9.00952381 13.9615385,8.9047619 C14.4985207,8.9047619 15.035503,8.38095238 15.035503,7.85714286 L15.035503,6.80952381 C15.035503,5.76190476 15.4650888,4.71428571 16.3242604,3.98095238 C17.8278107,2.61904762 20.297929,2.82857143 21.5866864,4.2952381 C21.9088757,4.60952381 22.3384615,4.71428571 22.6606509,4.60952381 C22.8754438,4.5047619 23.1976331,4.5047619 23.412426,4.4 C23.1976331,4.71428571 22.9828402,4.92380952 22.7680473,5.23809524 Z"></path>
                            </g>
                        </g>
                    </svg>
                </a>
                <a class="social-link" href="https://t.me/hybrixgroup" target="_BLANK" title="Telegram">
                  <svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g  stroke="none" stroke-width="1.5" fill="none" fill-rule="evenodd">
                      <g>
                        <path d="M18.270895,20.9152499 L21.4405973,5.63888651 C21.7207234,4.29437466 20.9659009,3.765317 20.1034438,4.09544898 L1.47437071,11.4359476 C0.202074012,11.9424321 0.224152914,12.6704154 1.25910142,13.0005474 L6.02400434,14.5214118 L17.085534,7.4010012 C17.6030082,7.0482961 18.0777046,7.24722178 17.6899439,7.59992688 L8.74246908,15.8659237 L8.39748625,20.8926768 C8.8928816,20.8926768 9.10953082,20.6725888 9.36757798,20.4073546 L11.6955222,18.1147714 L16.5252819,21.7518664 C17.4098178,22.2583509 18.0349267,21.9945275 18.2722749,20.9138391 L18.270895,20.9152499 Z" stroke="#000000" fill-rule="nonzero"></path>
                      </g>
                    </g>
                  </svg>
                </a>
              </div>

              <span class="copyright">&copy;
                <script>
                  var CurrentYear = new Date().getFullYear()
                  document.write(CurrentYear)
                </script>
              </span>
              <a class="footer-link" href="/">hybrix</a>
              <a class="footer-link" href="https://www.hybrix.io/privacy-policy">Privacy Policy</a>
              <a class="footer-link" href="https://www.hybrix.io/terms-and-conditions">Terms and Conditions</a>
              <a class="footer-link" href="https://www.hybrix.io/disclaimer">Disclaimer</a>
              <a class="footer-link" href="https://www.hybrix.io/cookies-policy">Cookies Policy</a>
            </div>
          </div>
        </div>

        <div class="pure-u-1 pure-u-lg-1-5 secondary-sidebar">
          <div id="subnavigation"></div>
        </div>
        <script>if(typeof id !== 'undefined'){initSubNavigation(id)}</script>
      </div>
    </div>
  </body>
</html>
