          <script>
            var id = "introduction"
            initNavigation(id)
          </script>

          <h1>Documentation</h1>

          <p><b>Welcome to hybrix!</b> a highly inclusive financial operating system to network and manage digital forms of value transfer, interlinking other decentralized networks. It solves the problem of a currently fragmented ecosystem of solutions in digital ledger technologies and alternative economies. The hybrix network runs through a collection of decentralized nodes and puts a lot of power at your fingertips.</p>

          <p>Get familiar with the hybrix products and explore their features:</p>

          <div class="pure-g">
            <div class="pure-u-1 pure-u-lg-1-3 pure-u-md-1-1 c-block">
              <h2>
                <a id="run"></a>
                <img src="./icon-Run.svg" alt="icon" />
                Run
              </h2>
              <p>Core of the hybrix platform.</p>

              <a href="./hybrixd">
                <div class="item" style="background-image: linear-gradient(26deg, #50CBAF 0%, #80A1C9 100%);">
                  <img src="./icon-item-node.svg" alt="icon" />
                  <span>hybrix node</span>
                </div>
              </a>
            </div>

            <div class="pure-u-1 pure-u-lg-1-3 pure-u-md-1-1 c-block">
              <h2>
                <a id="build"></a>
                <img src="./icon-Build.svg" alt="icon" />
                Build
              </h2>
              <p>Tools for development.</p>

              <a href="./api">
                <div class="item" style="background-image: linear-gradient(44deg, #6FB7D4 0%, #F287D1 49%, #E49384 100%);">
                  <img src="./icon-item-api.svg" alt="icon" />
                  <span>API reference</span>
                </div>
              </a>
              <a href="./hybrix-jslib">
                <div class="item" style="background-image: linear-gradient(44deg, #6FB7D4 0%, #F287D1 49%, #E49384 100%);">
                  <img src="./icon-item-jslib.svg" alt="icon" />
                  <span>hybrix JS library</span>
                </div>
              </a>
              <a href="./qrtz">
                <div class="item" style="background-image: linear-gradient(44deg, #6FB7D4 0%, #F287D1 49%, #E49384 100%);">
                  <img src="./icon-item-api.svg" alt="icon" />
                  <span>qrtz</span>
                </div>
              </a>
            </div>

            <div class="pure-u-1 pure-u-lg-1-3 pure-u-md-1-1 c-block">
              <h2>
                <a id="use"></a>
                <img src="./icon-Use.svg" alt="icon" />
                Use
              </h2>
              <p>Software built with hybrix.</p>

              <a href="./block-explorer">
                <div class="item" style="background-image: linear-gradient(211deg, #E89F5E 0%, #E382A6 100%);">
                  <img src="./icon-item-explorer.svg" alt="icon" />
                  <span>block explorer</span>
                </div>
              </a>
              <a href="./web-wallet">
                <div class="item" style="background-image: linear-gradient(211deg, #E89F5E 0%, #E382A6 100%);">
                  <img src="./icon-item-wallet.svg" alt="icon" />
                  <span>web wallet</span>
                </div>
              </a>
              <a href="./cli">
                <div class="item" style="background-image: linear-gradient(211deg, #E89F5E 0%, #E382A6 100%);">
                  <img src="./icon-item-wallet.svg" alt="icon" />
                  <span>command-line wallet</span>
                </div>
              </a>
            </div>
          </div>

          <p>hybrix provides several methods to easily interact with distributed ledgers and data sources.</p>
          <p>Not sure where to start? Follow our <a href="./getting-started">quickstart guide</a> and start connecting your application to a multitude of blockchains!</p>
