          <script>
            var id = "qrtz"
            initNavigation(id)
          </script>

          <h1>Qrtz</h1>

          <p>qrtz is the processing language for hybrixd. It is used to handle routing requests. Each routing request
            spawns a process that follows qrtz steps to a result, or a failure.</p>

          <p>A qrtz command always consists of 4 characters. The parameters are
            separated by spaces:</p>

          <p><code>head parameter1 parameter2 ...</code></p>

          <h2><a id="recipe"></a>Recipe</h2>

          <p>Recipes are JSON files that contain parameters and qrtz methods for asset handling, data source queries or actionable engines. A recipe, depending on what it does, fits in one of three categories: asset, source, or engine.</p>

          <p>A source-recipe in principle contains only methods to query read-only data sources.</p>

          <p>An engine-recipe contains methods to perform actions based on incoming data, business logic and often interfaces with other programming languages.</p>

          <p>An asset-recipe contains methods to query value-related ledger or cryptocurrency API's. It returns path options to the hybrixd routing engine for users or machines to perform actions like, for example, querying the balance of an address.</p>

          <p>The categories above make it easier to recognize the functionality of a recipe instantly, and analyze it from the proper context. Source and engine recipes are interpreted identically by the scheduler. However, they are available through separate paths: <code>/source</code> and <code>/engine</code>. Asset recipes are specifically tailored to be used in the context of decentralized banking and are available through the routing path: <code>/asset</code>.</p>

          <h2><a id="data-flow"></a>Data flow</h2>

          <p>Every step in a qrtz recipe has the potential to alter the data of the process in which the script is running. Process data is available by using the dollar sign <code>$</code>. It is also available as input to every new process step. It behaves like a variable in qrtz in that it can be read anywhere. However, the difference with a variable is that the data of the process can be changed by every step of the process. The design consideration is that this coaxes you to design your qrtz script with a concise data flow in mind.</p>

          <p>Here is an example of some qrtz steps and the resulting data flow.</p>

<pre><code class="language-html">data 'Hello dog!'       // data 'Hello dog!'    - set the data of the process
drop -4                 // data 'Hello '        - drops the last 4 characters
repl ' ' ' world!'       // data 'Hello world!'  - replaces the ' '  (space) by ' world!'
</code></pre>

          <h2><a id="var-and-scope"></a>Variables and scopes</h2>

          <p><code>$</code> the main stream variable it is the output of the previous step. Use <code>$$</code> to escape the dollar sign (for example in regular expressions). </p>
          <p><code>$variable</code>  Retrieve a property from the recipe scope (read only)or process scope if no recipe variable is found.</p>
          <p><code>$local::variable</code> Use a local scope (maintained between all processes spawned from the same recipe).</p>
          <p><code>$otherRecipe::variable</code> the recipe scope of another recipe (read-only)</p>

        <p><code>${.property}</code>  To retrieve a sub properties
        of objects and arrays. For example: if data
        is <code>{a:{b:1}}}</code> then <code>${.a.b}</code> will
        return <code>1</code> </p>

          <h2><a id="debugging"></a>Debugging</h2>

<p>qrtz processes flow can be analyzed using the debug tool. These are only available to node operators with root access.</p>
<h3>CLI debugging</h3>
<p>Adding the <code>-d</code> flag to a cli api call will provide the debug output. This will illustrate the programe flow of all subprocesses and steps.
  <style>
    .var{color:blue}
    .not{color:grey}

    .err{color:red}
    </style>

  <pre>$ ./hybrixd /a/dummy/balance/wrongaddress -d
pid: 1575447893066808
<span class="err">.      ╻ /asset/dummy/balance/wrongaddress                 "Invalid address wrongaddress"</span>
.0     ┗┳ <b>call</b> validate/<span class="var">$1</span>                                 "invalid"
.0.0    ┣┳ /asset/dummy/validate/wrongaddress              "invalid"
.0.0.0  ┃┗┳ <b>data</b> '<span class="var">$addressRegex</span>'                           "^_dummyaddress_$"
.0.0.1  ┃ ┣ <b>flow</b> 'undefined' 1 3                           "^_dummyaddress_$"
<span class="not">.0.0.2  ┃ ┣ <b>rout</b> '/source/wavalidator/<span class="var">$symbol</span>/<span class="var">$1</span>'          null</span>
<span class="not">.0.0.3  ┃ ┣ <b>done</b>                                           null</span>
.0.0.4  ┃ ┣ <b>data</b> '<span class="var">$1</span>'                                      "wrongaddress"
.0.0.5  ┃ ┣ <b>regx</b> '<span class="var">$addressRegex</span>' 1 2                       "wrongaddress"
<span class="not">.0.0.6  ┃ ┣ <b>done</b> valid                                     null</span>
.0.0.7  ┃ ┗ <b>done</b> invalid                                   "invalid"
.1      ┣ <b>flow</b> valid 2 1                                   "invalid"
<span class="err">.2      ┣ <b>fail</b> "Invalid address <span class="var">$1</span>"                        "Invalid address wrongaddress"</span>
<span class="not">.3      ┣ <b>data</b> '<span class="var">$1</span>'                                        null
.4      ┣ <b>flow</b> _dummyaddress_ 2 1                          null
.5      ┣ <b>stop</b> 1,'Error: invalid address!'                 null
.6      ┣ <b>pass</b> '10000.00000000'                            null
.7      ┣ <b>form</b>                                             null
<span class="not">.8      ┣ <b>done</b>                                             null</span>
</pre>

<p><ul><code>
    <li><span class="var">$variables </span></li>
    <li><span style="color:green;">@labels</span></li>
    <li><span class="err">Process steps that contain errors.</span></li>
    <li><span class="not">Process steps that have not been executed.</span></li>
  </ul></code>
</p>

<h3>Using the Browser debug interface</h3>

<p> An interactive debug interface is available through: </p>

<p><a href="http://localhost:1111/proc/debug">http://localhost:1111/proc/debug</a></p>

This interface is similar to the cli interface but includes live updated progress views.


<h2><a id="shell"></a>Shell</h2>

<p>qrtz can be ran as a shell and interactive mode.</p>

<p><code class="prompt">./qrtz</code> Start qrtz in interactive mode</p>
<p><code class="prompt">cat data ./qrtz -i </code> or <code class="prompt">./qrtz &lt; cat data </code> Pipe data to interactive mode</p>
<p><code class="prompt">qrtz script.qrtz $1 $2</code> or <code class="prompt">./qrtz -s script.qrtz $1 $2</code> Execute script with command parameters 1,2</p>
<p><code class="prompt">qrtz $1 $2 &lt; cat script.qrtz</code> or <code class="prompt">cat script.qrtz | qrtz $1 $2</code> Execute script provided trough pipe with command parameters 1,2</p>


<h3>Script Example </h3>

<p> Create a file <code>script.qrtz</code> with the following content:</p>

<p><pre>
data "hello $1"
done</pre></p>
<p> Then use the following to execute:</p>

<p><code class="prompt">./qrtz script.qrtz "world"</code></p>

<p>This results in:</p>

<p><code>hello world</code></p>

<p>By adding a <i><a href="https://en.wikipedia.org/wiki/Shebang_(Unix)">"shebang"</a></i> the file can be made into a qrtz executable:</p>

<p><pre>#!/$QRTZ_HOME/qrtz
data "hello $1"
done</pre></p>
<p> Then use the following to execute:</p>

<p><code class="prompt">./script.qrtz "world"</code></p>




<h3>Interactive Shell Example </h3>

<p><pre>$ ./qrtz
> data "hello world"
hello world
> quit
$
</pre></p>

<p>Pass command line parameters: <br/><pre>$ ./qrtz universe
> data "hello $1"
hello universe
> quit
$
</pre></p>


<h2><a id="reference"></a>Reference</h2>
