body {
  color: #7A7A7A;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 20px;
  line-height: 1.25rem;
  padding-top: 100px;
  text-align: center;
}

#app-content {
  display: inline-block;
  max-width: 720px;
  margin-left: 12px;
  margin-right: 12px;
  word-break: break-word;
}

header {
  background: #fff;
  border-bottom: 1px solid #ededed;
  height: 80px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header .logo {
  box-sizing: border-box;
  float: left;
  height: 100%;
  padding-left: 5%;
  width: 20%;
}

header .logo svg {
  margin: 18px 0 13px;
  width: 100px;
}

.navModuleNavigation {
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  float: right;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.navModuleNavigation > a {
  margin: 0 10px;
  float: right;
}

a {
  color: #3da9b6;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
.login {
  padding:5px;
  position:absolute;
  width:300px;
  height:100px;
  border-radius:2px;
  background-color:white;
  border-color:lightgrey;
  border-style:solid;
  border-width:1px;

  right:0;
  top:0;
  z-index:10000;
}

.login a {
  float:right;
  cursor:pointer;
  margin-left:25px;
}
*/

@media screen and (min-width: 48em) {
  header .logo svg {
    width: 120px;
  }
}

#loginButton {
  color: #FFF;
  background: #AAA;
  border: 1px solid #888;
  border-radius: 6px;
  font-size: 1em;
  padding: 6px;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 2s;
}

#loginButton:link { text-decoration: none; }

#loginButton:visited { text-decoration: none; }

#loginButton:hover {
  text-decoration: none;
  background: #CCC;
}

#loginButton:active { text-decoration: none; }

#app-header-container {
  top: 12px;
  margin-left: -24px;
  position: absolute;
  z-index: 10000;
  display: inline-block;
}
